@media screen and (min-width: 577px) and (max-width: 768px){
    /* something for landscape mobile screens */

    #toggle-btn{
        display: inline;
        position: absolute;
        top: 20px;
        right: 10px;
        cursor: pointer;
        border-radius: 5px;
    }
    #toggle-btn:active{
        background-color: var(--sidebar-color);
    }
    .item-a{
        background-color: var(--header-color);
    }

    .item-b{
        background-color: var(--main-color);
    }

    .item-c{
        width: 100vw;
        height: 0px;
        background-color: var(--sidebar-color);
        position: absolute;
        bottom: 0px;
        transition: height 0.7s;
    }

    .item-c.show-side-bar{
        height: 50vh;
    }

    .item-d{
        background-color: var(--footer-color);
    }

    .container{
        row-gap: 5px;
        grid-template-areas: 
            "header header header header"
            "main main main main"
            "footer footer footer footer";
    }
}
